{% extends 'base.html.twig' %}

{% block body %}
	<section id="header" class="pl-5">
		<div class="row intro m-0">
			<div class="col-12">
				<div id="typed-strings">
					<p>{{ 'web developer'|trans }}</p>
					<p>{{ 'problem solver'|trans }}</p>
					<p>{{ 'PHP fanatic'|trans }}</p>
					<p>{{ 'Symfony fan'|trans }}</p>
					<p>{{ 'app developer'|trans }}</p>
					<p>{{ 'cyclist'|trans }}</p>
					<p>{{ 'gamer'|trans }}</p>
					<p>{{ 'movie lover'|trans }}</p>
				</div>
				<span class="hi">Hi</span>,
				{{ 'I am Duncan the'|trans }}
				<span id="typed"></span>
			</div>
		</div>
		<div class="row m-0">
			<div class="col-10">
				<p>
				{{ 'Welcome to my portfolio. I am a curious person that never grows old of learning new things. There are no problems, only new challenges to overcome.'|trans }}<br/>
				{{ 'I am a programmer by heart, but as you can read above, I got many things I like besides it. Besides my study towards Media Technology, I have learned myself PHP and improved it over the years.'|trans }}<br/>
				{{ 'My favorite movie genres is horror and sci-fi. The games I play and stream are mostly shooter, but I like tactical ones aswell.'|trans }}<br/>
				</p>
			</div>
		</div>
	</section>
	{% include 'parts/timeline.twig' %}
	{% include 'parts/github.twig' %}
	{% include 'parts/coming_soon.twig' %}
{% endblock %}