<section id="comingsoon" class="pl-5">
	<h1>{{ 'I am never done with this site'|trans }}</h1>
    <p>
        {{ 'A few things you can expect in future updates'|trans }}.
    </p>
    <ul>
        <li>{{ 'Expanded code section'|trans }}</li>
        <li>{{ 'Dynamic content'|trans }}</li>
        <li>{{ 'Code preview'|trans }}</li>
        <li>{{ 'Contact form'|trans }}</li>
        <li>{{ 'Blog'|trans }}</li>
        <li>{{ 'Dark mode'|trans }}</li>
        <li>{{ 'And much more'|trans }}</li>
    </ul>
</section>
