<section id="timeline">
	<div class="tl-container left">
		<div class="content">
			<h2>{{ 'Future'|trans }}</h2>
			<p>{{ 'Who knows? Always looking for new challenges'|trans }}</p>
		</div>
	</div>
	<div class="tl-container right">
		<div class="content">
			<h2>2016 -
				{{ 'present'|trans }}</h2>
			<h5><a href="https://qabana.nl">Qabana</a> - {{ 'Web developer'|trans }}</h5>
			<p>
				{{ 'Creating and working on new tailor-made projects for customers. Updating and maintaining existing projects Working mostly with Symfony and previously with Silex.'|trans }}
			</p>
		</div>
	</div>
	<div class="tl-container left">
		<div class="content">
			<h2>2015-2016</h2>
      <h5><a href="https://ennl.eu">ENNL</a> - {{ 'Intern web developer'|trans }}</h5>
			<p>
        {{ 'Besides this was my graduation internship, I worked on projects for other customers. My assignment was creating a webshop for a car part shop in Magento.'|trans }}
        </p>
		</div>
	</div>
  <div class="tl-container right">
		<div class="content">
			<h2>2011-2016</h2>
      <h5>Hogeschool Leiden - {{ 'Student'|trans }}</h5>
			<p>
        {{ 'I have studied ICT with as specialization Media Technology. Amongst other thing, I have learned, what triggers people and how to reach out to them.'|trans }}
        </p>
		</div>
	</div>
</section>
